#################### necessary start ####################
# Web框架和服务器
fastapi
uvicorn

# 数据验证
pydantic

# MCP协议（Model Context Protocol）；可选，但是使用必备
mcp

# 图片格式转化，多模态模型上传图片的格式转化使用
pillow
#################### necessary end ####################



#################### optional start ####################
# 文档解析
fitz
docx
pandas

#################### optional end ####################